{% extends "base.html" %}
{% block title %}台北一日遊 - 預定行程{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/attraction.css')}}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/booking.css')}}" />
{% endblock stylesheet %}
{% block script %}
<script src="{{ url_for('static', filename='scripts/login-function.js')}}"></script>
<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
<script src="{{ url_for('static', filename='scripts/booking.js')}}"></script>
{% endblock script %}
{% block main %}
    <div class="main-border">
        <div class="booking-main-container-box">
            <div id="main-container" class="booking-main-container">
                <div id="main-greeting" class="booking-main-greeting">您好，<span id="user-name"></span>，待預訂的行程如下：</div>
            </div>
        </div>
        <div id="contact-info" class="info-container">
            <form class="info-form-container">
                <div class="info-form-headline">您的聯絡資訊</div>
                <div class="info-form-head">聯絡姓名：</div>
                <input id="contact-name" class="info-form-input" type="text" />
                <div class="info-form-head">連絡信箱：</div>
                <input id="contact-email" class="info-form-input" type="email" />
                <div class="info-form-head">手機號碼：</div>
                <input id="contact-phone" class="info-form-input" type="tel" maxlength="10" pattern="[0-9]*" placeholder="0912345678" data-pattern-validate/>
                <div class="info-form-note">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
            </form>
        </div>
        <div id="payment-info" class="info-container">
            <form class="info-form-container">
                <div class="info-form-headline">信用卡付款資訊</div>
                <div class="info-form-head">卡片號碼：</div>     
                <div class="tpfield" id="card-number"></div>
                <div class="info-form-head">過期時間：</div>  
                <div class="tpfield" id="card-expiration-date"></div>
                <div class="info-form-head">驗證密碼：</div>  
                <div class="tpfield" id="card-ccv"></div>
            </form>
        </div>
        <div id="checkout-info" class="info-container">
            <div class="checkout-container">
                <div id="checkout-total" class="booking-main-info-head"></div>
                <button id="checkout-button" type="submit" class="checkout-button">確認訂購並付款</button>
                <div id="checkout-alert" class="checkout-alert">付款資訊有誤</div>
                <div id="input-alert" class="checkout-alert">請完整填寫聯絡資訊</div>
                <div id="input-format-alert" class="checkout-alert">聯絡資訊格式有誤</div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/tappay.js')}}"></script>
{% endblock main %}