{% extends "base.html" %}
{% block title %}台北一日遊-會員中心{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/member.css')}}" />
{% endblock stylesheet %}
{% block script %}
<script src="{{ url_for('static', filename='scripts/member.js')}}"></script>
<script src="{{ url_for('static', filename='scripts/login-function.js')}}"></script>
{% endblock script %}
{% block main %}
    <div class="main-border">
        <div id="member-container" class="member-container">
            <div id="member-info-container" class="member-info-container">
                <div class="member-info-img-box">
                    <img id="member-img" class="member-info-img">    
                    <div id="member-info-img-button" class="member-info-img-button">點此更換照片</div>
                </div>
                <div class="member-info-head">會員基本資料</div>
                <div class="member-head">姓名：</div>
                <div id="member-name" class="member-info">Erin</div>
                <div class="member-head">信箱：</div>
                <div id="member-email" class="member-info">erin@example.com</div>
                <div class="member-head">密碼：</div>
                <div class="member-info">******</div>
                <button id="log-out-button" class="log-out-button">登出</button>
                <button id="order-display-button" class="member-order">顯示歷史訂單紀錄 ▼</button>
                <button id="order-hide-button" class="member-order">隱藏歷史訂單紀錄 ▲</button>
            </div>
        <div class="pop-up-login-container">
            <form id="member-img-form" class="member-img-container">
                <div class="banner-login-upper-border"></div>
                <div class="banner-login-headline">變更會員照片</div>
                <span class="banner-login-close-button" onclick="hideMemberImgForm()"></span>
                <div id="img-menu" class="member-img-menu">
                </div>
            </form>
        </div>
            <div id="order-container-box" class="order-container-box"></div>
            <div id="none-container" class="none-container"></div>
        </div>
    </div>
{% endblock main %}